/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS variables */
:root {
  --darker-bg-color: #E5E8ED;
  --lighter-bg-color: #B1B4B8;
  --main-header-bg-color: #323A45;
  --placeholder-color: #71777f;
  --submit-bg-color: #14B9D5;
  --submit-hover-bg-color: #0e8397;
}

body {
  background: #E5E8ED; /* fallback */
  background: -webkit-linear-gradient(-90deg, var(--lighter-bg-color), var(--darker-bg-color));
  background: linear-gradient(-90deg, var(--lighter-bg-color), var(--darker-bg-color));
  font-family: 'Lato', sans-serif;
}

/* Base styles for form elements */
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  height: 2.5em;
  border: none;
  font-family: 'Lato', sans-serif;
  padding-left: 5px;
  color: var(--placeholder-color);
}

select {
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder-color);
}


/* HEADER */
#main-header {
  text-align: center;
  background: var(--main-header-bg-color);
  color: #fff;
  align-self: stretch;
  padding: 15px 0;
  margin-bottom: 30px;
}

#title,
#description {
  letter-spacing: 0.1em;
}

#title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Center the content and display one item below the other */
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Name, Email and Age fields */
#required {
  display: flex;
  flex-direction: column;
}

label[for="name"],
label[for="email"],
label[for="number"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}

#title,
#survey-form p,
legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#survey-form p,
legend,
input,
select,
fieldset {
  margin-bottom: 10px;
}

fieldset {
  border: none;
}

#survey-form p,
legend,
label {
  color: #323a45;
}

label {
  font-family: 'Lato', sans-serif;
}

#survey-form p:nth-of-type(3) {
  margin-top: 10px;
}

/* Submit button */
#submit {
  width: 100%;
  height: 2.5em;
  background: none;
  border: none;
  background: var(--submit-bg-color);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

#submit:hover {
  cursor: pointer;
  background: var(--submit-hover-bg-color);
}

/* Textarea */
textarea {
  margin-bottom: 10px;
  border: none;
  width: 100%;
  color: var(--placeholder-color);
  resize: none;
  height: 10em;
}
